:root {
  --nord0: #2e3440;
  --nord1: #3b4252;
  --nord2: #434c5e;
  --nord3: #4c566a;
  --nord3: #616e88;
  --nord4: #d8dee9;
  --nord5: #e5e9f0;
  --nord6: #eceff4;
  --nord7: #8fbcbb;
  --nord8: #88c0d0;
  --nord9: #81a1c1;
  --nord1: #5e81ac;
  --nord1: #bf616a;
  --nord1: #d08770;
  --nord1: #ebcb8b;
  --nord1: #a3be8c;
  --nord1: #b48ead;
}

body {
  color: var(--nord6);
  background: var(--nord0);
  font-family: "Poppins", sans-serif;
}

canvas {
  background-color: #46494b;
  border-color: #424547;
}
